[Unit]
Description=SkyCore Video Encoder Service
After=network.target

[Service]
Type=simple
User=skycore
Group=skycore
WorkingDirectory=/home/skycore/skycore
ExecStart=/home/skycore/skycore/installer/video_encoders/video_software_encoder_new.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target 